---
import LazyImage from '../common/LazyImage.astro';
import { getLocale } from '../../i18n/i18n';
import { Image } from 'astro:assets';
import { fade } from 'astro:transitions';

interface Props {
  image: string;
  title: string;
  time?: string;
  id: string;
  textColor?: string;
  iconColor?: string;
  hoverImage?: string;
  difficulty?: string;
  servings?: number;
  rating?: number;
  isMainCard?: boolean;
}

const { 
  image, 
  title, 
  time = "---", 
  id,
  textColor = 'text-blue-900',
  iconColor = 'text-blue-900',
  hoverImage = image,
  difficulty = "---",
  servings = 0,
  rating = 0,
  isMainCard = false
} = Astro.props;

const currentLocale = getLocale();
// const recipeLink = `/${currentLocale}/${currentLocale === 'es' ? 'recetas' : 'recipes'}/${id}`;
const recipeLink = `#`;
const viewRecipeText = currentLocale === 'es' ? 'Ver Receta' : 'View Recipe';
---

<a 
  href={recipeLink} 
  class={`block group relative transition-all duration-500 ease-in-out flex-shrink-0 ${
    isMainCard ? 'w-[530px]' : 'w-[310px]'
  }`}
  transition:animate="fade"
>
  <!-- Container principal con las medidas específicas -->
  <div class={`flex flex-col gap-[25px] ${isMainCard ? 'w-[530px]' : 'w-[310px]'} relative`}>
    <!-- Imagen -->
    <div class={`relative overflow-hidden flex-shrink-0 w-full h-[339px] rounded-t-[21px]`}>
      <LazyImage
        src={image}
        alt={title}
        class="w-full h-full object-cover"
        transition:name={`recipe-image-${id}`}
      />
    </div>
    
    <!-- Título -->
    <div class="font-sans leading-[0] not-italic relative shrink-0 text-black text-[28px] tracking-[-1.5px]">
      <p class="leading-[35px]">{title}</p>
    </div>
  </div>
</a>
