---
import LazyImage from '../common/LazyImage.astro';
import { getLocale } from '../../i18n/i18n';

interface Props {
  image: string;
  title: string;
  time?: string;
  id: string;
  textColor?: string;
  iconColor?: string;
}

const { 
  image, 
  title, 
  time = "---", 
  id,
  textColor = 'text-black',
  iconColor = 'text-blue-900'
} = Astro.props;

const currentLocale = getLocale();
const recipeLink = `/${currentLocale}/${currentLocale === 'es' ? 'recetas' : 'recipes'}/${id}`;
---

<a 
  href={recipeLink} 
  class="block group relative transition-all duration-300 ease-in-out w-full"
  transition:animate="fade"
>
  <div class="flex flex-col relative w-full">
    <div class="relative overflow-hidden w-full aspect-[4/3] rounded-xl">
      <LazyImage
        src={image}
        alt={title}
        class="w-full h-full object-cover"
        transition:name={`recipe-image-${id}`}
      />
    </div>

    <div class="pt-2 md:pt-3 h-[64px] md:h-[72px]">
      <h3 class="font-sans font-bold text-black text-sm md:text-xl leading-snug mt-2 break-words overflow-hidden line-clamp-2">{title}</h3>
    </div>
  </div>
</a>
